[submodule "common"]
	path = common
	url = git@github.com:entiqon/common.git
[submodule "db"]
	path = db
	url = git@github.com:entiqon/db.git
[submodule "cli"]
	path = cli
	url = git@github.com:entiqon/cli.git
